<div><pre><code prism class="language-javascript">module.config(['passCheckProvider', function (passCheckProvider) {
    passCheckProvider.init({
        policies: { // optional. defaults shown. shortcut syntax such as \d must be escaped as \\d
            medium: {
                pattern: '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])',
                min: 6
            },
            strong: {
                pattern: '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\\w\\s])',
                min 8
            }
        },
        scoring: { // optional. defaults shown.
            base: 1,
            medium: {
                min: 40,
                max: 65,
                bonus: 1.25
            },
            strong: {
                min: 65,
                max: 100,
                bonus: 1.50
            }
        },
        common: { // do not specify this configuration to skip common checks
            test: true,
            path: '~/passwords.json'
        }
    });
}]);
</code></pre>
</div>